.header{
    font-size: 42px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: #59371c;
    background-color: #ebdacc;

}
body{
    background-color: #ebdacc;
}
.h2{
    font-size: 48px;
    text-align: center;
    color: #59371c;
    font-family: 'Sansita Swashed', cursive;
}
.h3{
    text-align: center;
    color: #59371c;
    font-family: 'Sansita Swashed', cursive;
}
.img{
    width: 25%;
    align-items: center;
    border-radius: 12px;
}
.img2{
    width: 25%;
    align-items: center;
    border-radius: 12px;
}
.li{
    font-size: 16px;
    text-align: left;
    font-family: 'Sansita Swashed', cursive;
}
.p{
    font-size: 12px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.button{
    border-color: aliceblue;
}
.footer{
    background-color: #ebdacc;
    border-radius: 12px;
}
.pf{
    text-align: center;
    margin: 12px;
}
.nav{
    text-align: left;
    background-color: #ebdacc;

}
table{
    width: 100%;
    border-radius: 10px;
    border-spacing: 6px;
    text-align: center;
    border-style: inset;
}
.td1{
    color: #59371c;
    font-size: 20px;
    font-weight: bold;
}
.td2{
    text-align: justify;
}